<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:title" content="" />
  <meta property="og:description" content="" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="" />

  <title>New Project</title>
  
  <link rel="shortcut icon" type="image/x-icon" href="./favicon.ico">
  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
  <!--[if lte IE 8]>
    <p class="browsehappy">You are using an <strong>outdated</strong>
      browser. Please
      <a href="http://browsehappy.com/">upgrade your browser</a> to
      improve your experience.</p>
  <![endif]-->
  <div class="wrapper">
    <nav class="flex-nav">
      <a href="https://irrelevantmusicatl.tumblr.com/">
        <h2>Events</h2>
      </a>
      <a href="mailto:ircbooking@gmail.com">
        <h2>Contact</h2>
      </a>
      <a href="http://irrelevantrecordings.bigcartel.com/">
        <h2>Store</h2>
      </a>
      <a href="#bands">
        <h2>Bands</h2>
      </a>
    </nav> 
    <div class="container-fluid">
      <img class="img-responsive" src="images/IRRELEVANT2.jpg" alt="">
    </div>
    <div class="container-fluid" id="bands">
      <ul class="band-list">
        <li id="band1">
           <a href="https://cadetservante.bandcamp.com/" class="band">Cadet&nbsp;Servante</a>
        </li>
        <li id="band2">
          <a href="https://dicaprioatl.bandcamp.com/" class="band">dicaprio</a>
        </li>
        <li id="band3">
          <a href="https://femignome1.bandcamp.com/" class="band">femignome</a>
        </li>
        <li id="band4">
          <a href="https://leugenemethe1.bandcamp.com/" class="band">L.&nbsp;Eugene&nbsp;Methe</a>
        </li>
        <li id="band5">
          <a href="https://placestohide.bandcamp.com/" class="band">places&nbsp;to&nbsp;hide</a>
        </li>
        <li id="band6">
          <a href="http://themotorcycleindustry.tumblr.com/" class="band">the&nbsp;motorcycle&nbsp;industry</a>
        </li>
        <li id="band7">
          <a href="https://tapeworms.bandcamp.com/" class="band">Tapeworms</a>
        </li>
        <li id="band8">
          <a href="http://www.valleymaker.com/" class="band">valley&nbsp;maker</a>
        </li>
      </ul>
    </div>
  </div>


  <!-- Scripts -->
  <script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>  
  <script src="js/main.js"></script>
  <script>
    //google analytics
  </script>
</body>
</html>
